{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row banner">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>New destination</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<form action="#" method="post">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" maxlength="100" name="name">
				<label for="name">Description:</label>
				<textarea type="text" class="form-control" maxlength="250" name="description"></textarea>
				<label for="name">Picture URL:</label>
				<input type="text" class="form-control" maxlength="250" name="image">
				<label for="name">Phone:</label>
				<input type="text" class="form-control" maxlength="20" name="phone">
				<label for="name">Opening times:</label>
				<input type="text" class="form-control" maxlength="100" name="times">
				<label for="name">Address line 1:</label>
				<input type="text" class="form-control" maxlength="100" name="a_line_1">
				<label for="name">Address line 2</label>
				<input type="text" class="form-control" maxlength="100" name="a_line_2">
				<label for="name">Town:</label>
				<input type="text" class="form-control" maxlength="100" name="town">
				<label for="name">Postcode:</label>
				<input type="text" class="form-control" maxlength="100" name="postcode">
				<label for="name">Country:</label>
				<input type="text" class="form-control" maxlength="100" name="country">
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span aria-hidden="true"></span>Create</button>
				<a href='{{url_for('showDestinations')}}'>Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}