
<div class="side-menu col-md-2">
    
    <div id="search" class="col-md-12 search-container">
        <form class="navbar-form" role="search">
            <div class="form-group search-bar">
                <input type="text" class="form-control" placeholder="Search" id="map-search">
            </div>
        </form>
    </div>
        


    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul>
                {% for destination in destinations %}
                        <li>
                            <a class="nav-link" href = "{{url_for('showDestinationInfo', destination_id = destination.id)}}">{{destination.name}}</a>
                        </li>
                {% endfor %}
        </ul>
    </div>
</div>
